.modal-c {
  width: 100vw;
  height: 100vh;

  position: fixed;
  z-index: 1000;
  top: 0px;
  left: 0px;

  background-color: rgba(85, 83, 83, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;

  .error {
    color: rgb(228, 68, 68);
  }
  .content {
    padding: 3rem;
    background-color: rgb(243, 237, 237);
    border-radius: 15px;
  }
}
